<div class="card">
  <div class="card__wrapper">
    <span class="card__course-badge">
      <span class="badge badge-accented card__badge">Best Seller</span>
    </span>
    <a href="#" class="card__mask">
      <span class="card__img-container">
        <img src="assets/css/img/cards/1470810_a8b0.jpg" class="card__img" alt="Testing">
      </span>
      <span class="card__course-details">
        <span>
          <span class="card__title">Introduction To Javascript</span>
        </span>
        <div class="card__instructor-info">
          <span>Okpala Chucks</span>
        </div>
        <div class="card__instructor-info">
          <span class="icon ion-ios-star"></span>
          <span class="icon ion-ios-star"></span>
          <span class="icon ion-ios-star"></span>
          <span class="icon ion-ios-star-outline"></span>
        </div>
        <div class="card__pricing">
          <span>
            <span class="original-price">N7,000</span>
            <span class="discount-price">N2,500</span>
          </span>
        </div>
      </span>
    </a>
  </div>
</div>