<nav class="nav nav-slide-pus" role="navigation">
  <div class="nav-container">
    <a class="button-toggle">
      <span class="toggler"></span>
    </a>
    <ul class="nav-wrap">
      <li class="nav-item-logo">
        <h6 class="logo-container">
          <a href="#" class="nav-link logo">lekture</a>
        </h6>
      </li>
      <li class="nav-item nav-item-main">
        <a class="nav-link" href="#">Business</a>
      </li>
      <li class="nav-item nav-item-main">
        <a class="nav-link" href="#">Become a Buddy</a>
      </li>
      <li class="nav-item nav-item-main">
        <a class="nav-link active" href="#">Sign In</a>
      </li>
      <li class="nav-item nav-item-main">
        <a class="nav-link nav-link-primary" href="#">Free Trial</a>
      </li>
    </ul>
    <div class="nav-mobile">
      <li class="nav-item-logo">
        <h6 class="logo-container">
          <a href="#" class="nav-link logo">lk</a>
        </h6>
      </li>
      <li class="nav-item nav-item-main">
        <a class="nav-link hide-sm" href="#">Sign In</a>
      </li>
      <li class="nav-item nav-item-main">
        <a class="nav-link nav-link-primary" href="#">Free Trial</a>
      </li>
    </div>
    <div id="menu" class="nav-sidebar">
      <div class="nav-sidebar-wrapper">
        <a href="#" class="nav-sideber-link">Business</a>
        <a href="#" class="nav-sideber-link">Become a Buddy</a>
        <a href="#" class="nav-sideber-link">Sign In</a>
        <a href="#" class="nav-sideber-link nav-sidebar-primary-link">Free Trial</a>
        <a href="#" class="nav-sideber-link">Help</a>
      </div>
    </div>
  </div>
</nav>