<div class="course-slide-u">
  <div class="container pt-3">
    <div class="mdc-layout-grid course-grid">
      <div class="mdc-layout-grid__inner">
        <div class="mdc-layout-grid__cell--span-3">
          <div class="card">
            <div class="card__wrapper">
              <a href="#" class="card__mask">
                <span class="card__img-container">
                  <div class="image"></div>
                </span>
                <span class="card__course-details">
                  <span>
                    <span class="text text-line"></span>
                  </span>
                  <div class="card__instructor-info">
                    <span class="text title"></span>
                  </div>
                  <div class="card__pricing">
                  </div>
                </span>
              </a>
            </div>
          </div>
        </div>
        <div class="mdc-layout-grid__cell--span-3">
          <div class="card">
            <div class="card__wrapper">
              <a href="#" class="card__mask">
                <span class="card__img-container">
                  <div class="image"></div>
                </span>
                <span class="card__course-details">
                  <span>
                    <span class="text text-line"></span>
                  </span>
                  <div class="card__instructor-info">
                    <span class="text title"></span>
                  </div>
                  <div class="card__pricing">
                  </div>
                </span>
              </a>
            </div>
          </div>
        </div>
        <div class="mdc-layout-grid__cell--span-3">
          <div class="card">
            <div class="card__wrapper">
              <a href="#" class="card__mask">
                <span class="card__img-container">
                  <div class="image"></div>
                </span>
                <span class="card__course-details">
                  <span>
                    <span class="text text-line"></span>
                  </span>
                  <div class="card__instructor-info">
                    <span class="text title"></span>
                  </div>
                  <div class="card__pricing">
                  </div>
                </span>
              </a>
            </div>
          </div>
        </div>
        <div class="mdc-layout-grid__cell--span-3">
          <div class="card">
            <div class="card__wrapper">
              <a href="#" class="card__mask">
                <span class="card__img-container">
                  <div class="image"></div>
                </span>
                <span class="card__course-details">
                  <span>
                    <span class="text text-line"></span>
                  </span>
                  <div class="card__instructor-info">
                    <span class="text title"></span>
                  </div>
                  <div class="card__pricing">
                  </div>
                </span>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>