<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"
  />
  <meta name="description" content="Learn web design, coding and much more with Lekture. You can learn at your own pace and become job ready within months. Start your free trial!"
  />

  <link rel="stylesheet" href="assets/css/core.css" />
  <title>Lekture | Sign In</title>
</head>

<body>
  <div class="sign-page">
    <navbar></navbar>
    <main class="body">
      <div class="container">
        <div class="grid-container">
          <div class="grid-50 centered">
            <div class="login-con">
              <div class="grid-100">
                <form id="sign-in-form">
                  <div class="form-input">
                    <input type="text" id="email" class="input-field-text" placeholder="Email Address" />
                  </div>
                  <div class="form-input">
                    <input type="text" id="password" class="input-field-text" placeholder="Password" />
                  </div>
                  <p class="forgot-field">
                    <a href="#" class="forgot-password">Forgotten Password?</a>
                  </p>
                  <button type="submit" class="sign-submit button bg-primary">Sign In</button>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
  </div>
</body>

</html>
