<div class="app-mount">
  <div class="app-wrapper">
    <div class="wrapper-3Q5DdO">
      <div class="right-split" style="width: 1154px; height: 100vh;">
        <img width="1154" height="648" src="assets/css/img/fd91131ea693096d6be5e8aa99d18f9e.jpg" class="bg-img" />
      </div>
      <div class="left-split">
        <a routerLink="/home" class="logo"></a>
        <div class="wrapper-6URcxg" style="opacity: 1; transform: scale(1) translateX(0px) translateY(0px);">
          <section class="loginbox">
            <div class="center">
              <img src="assets/css/img/1a06a76c7ea3e0facf0d6635e10c5898.svg" alt="" class="image">
              <div class="title">Email and password login </div>
              <div class="subtitle">Login to access more!</div>
              <form #loginForm=ngForm (ngSubmit)="login()">
                <div>
                  <input type="text" id="email" name="email" placeholder="Email Addresss" [(ngModel)]="credentials.email" required>
                </div>
                <input type="password" name="password" placeholder="Password" [(ngModel)]="credentials.password" required>
                <button *ngIf="!isLoading" type="submit" class="login-button button" [disabled]="!loginForm.valid">
                  <div><div class="login-button__text">Login</div></div>
                </button>
                <div *ngIf="isLoading"><img src="assets/css/img/loading.svg" width="100" height="100"/></div>
              </form>
            </div>
          </section>
        </div>
      </div>
    </div>
  </div>
</div>
